<h1>Cadastrar Atendimento</h1>

<div class="card">
    <form #formAtendimento="ngForm">
        <div class="form-group">
            <label for="nome">Paciente:</label>
            <input type="text" class="form-control" #nome="ngModel" id="nome" name="nome" [(ngModel)]="atendimento.nome"
             minlength="5" required>

             <label for="prioridade">Prioridade</label>
             <select name="prioridade" id="prioridade" [(ngModel)]="atendimento.prioridade" #prioridade="ngModel">
                 <option value="sim">Sim</option>
                 <option value="não">Não</option>
             </select>

            <div *ngIf="nome.errors && (nome.dirty || nome.touched)" class="alert alert-danger">
                <div [hidden]= "!nome.errors.required">
                    Digite um Paciente.
                </div>
                <div [hidden]="nome.errors.minlength">
                    Um Paciente deve conter ao menos 5 caracteres.
                </div>
            </div>
        </div>
        <div class="form-group text-center">
            <input type="submit" class="btn btn-success" (click)="atualizar()" value="atualizar" [disabled]="!formAtendimento.valid">
            <a class="btn btn-default" [routerLink]="['/atendimentos']">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Voltar
            </a>
        </div>
    </form>
</div>

